.navbar{
  height: auto;
  background-color: : #367FA9;
}
.header{
  margin-top: 0px;
  width: 100%;
  height: 60px;
  background-color: blue;
}
.brdr{
  width: 5px;
  margin-top: 5px;
}
foot{
  background-color: #330000;
  margin-top: 0px;
  height: 60px;
  color: white;

}
.datepicker,
.timepicker,
.datetimepicker {
	.form-control {
		background: #fff;
	}
}
